.navbar.navbar-default{
  margin-botom:0;
}

#topotron{
  background-image:url(../img/tree.jpg);
  background-size: cover;
  height:500px;
  padding-top: 200px;
}

.container{
	margin-top: 50px;
}

.jumbotron{
	text-align: center;
	color: white;
}
